/* general */

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-primary: rgba(0, 0, 0, 0.2);
    --text-primary: black;
    --accent-primary: lightpink;
}

body {
    background: linear-gradient(45deg, orange, blueviolet);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana;
    background-attachment: fixed;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--background-primary);
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.navbar {
    top: 0;
    position: fixed;
    background-color: var(--background-primary);
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.navbar-item {
    width: 100%;
}

.navbar-link {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

.navbar-link:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: salmon;
}

.container {
    padding-top: 2rem;
}

/* desktop screens only*/
@media only screen and (min-width: 600px) {
    .navbar {
        width: 5.5rem;
        height: 100%;
    }

    .navbar-link {
        padding: 0.5rem;
        height: 3rem;
    }

    .container {
        margin-left: 5.5rem;
    }

    .game-container {
        margin-top: 0;
        margin-left: 5rem;
    }
}

/* smartphone screens only*/
@media only screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        height: 5rem;
    }

    .navbar-list {
        flex-direction: row;
    }

    .navbar-link {
        justify-content: center;
        height: 5rem;
    }

    .container {
        margin-top: 5rem;
        margin-left: 0;
    }

    .game-container {
        margin-top: 5rem;
    }

    .menu {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 22px);
        gap: 20px;
        padding: 20px;
    }
}

/* index */

.heading-home {
    text-align: center;
    font-size: 60px;
    margin-bottom: 2rem;
}

.menu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 202px);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 5/6;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: salmon;
    cursor: pointer;
}

.card img {
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
}

/* game */

.progress-container {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.progress-container p {
    font-size: 20px;
    font-weight: bold;
}

.progressbar-right {
    border-style: solid;
    border-radius: 13px;
}

.progressbar-right>div {
    background-color: lightgreen;
    width: 0%;
    height: 20px;
    border-radius: 10px;
}

.progressbar-wrong {
    border-style: solid;
    border-radius: 13px;
}

.progressbar-wrong>div {
    background-color: lightcoral;
    width: 0%;
    height: 20px;
    border-radius: 10px;
}

.answers {
    display: grid;
    height: 215px;
    width: 415px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.game-container {
    padding: 15px 9%;
}

.question {
    min-height: 52px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;	
    border-width: 2px;
    background-color: var(--accent-primary);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.answer-container {
    border-radius: 10px;
    border-style: solid;
    border-color: black;	
    border-width: 2px;
    background-color: lightgoldenrodyellow;
    display: flex;
    margin-bottom: 20px;
}

.answer-container:hover {
    cursor: pointer;
    .answer-letter {
        background-color: aliceblue !important;
    }
}

.answer-letter {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--accent-primary);
    border-radius: 10px 0 0 10px;
    border-width: 0 2px 0 0;
    border-style: solid;
}

.answer-text {
    padding: 10px;
}

.next-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.counter-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.next-button {
    text-align: center;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;	
    border-width: 2px;
    background-color: var(--accent-primary);
    font-size: 18px;
    font-weight: bold;
}

.next-button:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.next-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.heading {
    text-align: center;
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* results */

.results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
    margin: 2rem;
    font-size: 22px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    background-color: lightpink;
}

.results-text {
    display: flex;
    margin: 2rem;
    font-size: 26px;
    justify-content: center;
}